/* Fade for 1.2 seconds */
.fade1s {
    -webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.2s; /* Firefox < 16 */
    -ms-animation: fadein 1.2s; /* Internet Explorer */
    -o-animation: fadein 1.2s; /* Opera < 12.1 */
    animation: fadein 1.2s;
}

/* Wait for 0.8 seconds then fade for 1.2 seconds */
.fade2sd {
    -webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.2s; /* Firefox < 16 */
    -ms-animation: fadein 1.2s; /* Internet Explorer */
    -o-animation: fadein 1.2s; /* Opera < 12.1 */
    animation: fadein 1.2s;
    animation-delay: 0.8s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}