/*
Index and Things homepage
*/

.almostCenterDiv{
    /* 40% from top, horizontally centered */
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Fade for 1.2 seconds */
.fade1s {
    -webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.2s; /* Firefox < 16 */
    -ms-animation: fadein 1.2s; /* Internet Explorer */
    -o-animation: fadein 1.2s; /* Opera < 12.1 */
    animation: fadein 1.2s;
}

/* Wait for 0.8 seconds then fade for 1.2 seconds */
.fade2sd {
    -webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.2s; /* Firefox < 16 */
    -ms-animation: fadein 1.2s; /* Internet Explorer */
    -o-animation: fadein 1.2s; /* Opera < 12.1 */
    animation: fadein 1.2s;
    animation-delay: 0.8s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*
Next and previous page arrows
*/

.topDiv{
    /* 12% from top, horizontally centered */
    position: fixed;
    top: 5%;
    left: 50%;
    height: 40px;
    transform: translate(-50%, -50%);
}

.bottomDiv{
    /* 88% from top, horizontally centered */
    position: fixed;
    top: 95%;
    left: 50%;
    height: 40px;
    transform: translate(-50%, -50%);
}

.arrow {
    display: block;
    width: 40px;
    height: 40px;
}

.arrowUpsideDown {
    /* Rotates image 180 degrees */
    display:block;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 40px;
    height: 40px;
}

/*
Things pages
*/

.thingsCenterDiv{
    /* 50% from top, horizontally centered */
    position: fixed;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thingImg{
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thingCaption {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;

}