/*
Global styles
*/
a {
    text-decoration: none;
    box-shadow: none;
    background-image: none;
} 

/*
Index and Things homepage
*/

.almostCenterDiv{
    /* 40% from top, horizontally centered */
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Fade for 1.2 seconds */
.fade1s {
    -webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.2s; /* Firefox < 16 */
    -ms-animation: fadein 1.2s; /* Internet Explorer */
    -o-animation: fadein 1.2s; /* Opera < 12.1 */
    animation: fadein 1.2s;
}

/* Fade for 2 seconds */
.fade2s {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

/* Wait for 0.8 seconds then fade for 1.2 seconds */
.fade2sd {
    -webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.2s; /* Firefox < 16 */
    -ms-animation: fadein 1.2s; /* Internet Explorer */
    -o-animation: fadein 1.2s; /* Opera < 12.1 */
    animation: fadein 1.2s;
    animation-delay: 0.8s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*
Links
*/

.linkImg {
    width: 33px;
    height: 33px;
    vertical-align: middle;
}

/*
Next and previous page arrows
*/

.topDiv {
    /* 12% from top, horizontally centered */
    position: fixed;
    top: 5%;
    left: 50%;
    height: 40px;
    transform: translate(-50%, -50%);
}

.bottomDiv{
    /* 88% from top, horizontally centered */
    position: fixed;
    top: 95%;
    left: 50%;
    height: 40px;
    transform: translate(-50%, -50%);
}

.arrow {
    display: block;
    width: 40px;
    height: 40px;
}

.arrowUpsideDown {
    /* Rotates image 180 degrees */
    display:block;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 40px;
    height: 40px;
}

/*
Things pages
*/

.thingCaption {
    text-align: center;
    display: "block";
    margin: -30px 0 0px 0; /* reduce top margin */
}

.thingImg {
    max-width:100%;
    max-height: calc(72vh); /* image will take up at max 72% view of viewport height */
}

.thingBody {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.thingContent {
    flex: 1;     /* this is the key; consumes all available height */
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.thingHead {
    height: 64px;
}
.thingFoot {
    height: 64px;
}